@font-face {
	font-family:  'VenrynSans';
	src:          url('assets/fonts/VenrynSans-Light.ttf') format('truetype');
	font-weight:  300;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'VenrynSans';
	src:          url('assets/fonts/VenrynSans-Regular.ttf') format('truetype');
	font-weight:  400;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'VenrynSans';
	src:          url('assets/fonts/VenrynSans-Italic.ttf') format('truetype');
	font-weight:  400;
	font-style:   italic;
	font-display: swap;
}

@font-face {
	font-family:  'VenrynSans';
	src:          url('assets/fonts/VenrynSans-Medium.ttf') format('truetype');
	font-weight:  500;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'VenrynSans';
	src:          url('assets/fonts/VenrynSans-SemiBold.ttf') format('truetype');
	font-weight:  600;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'NorwesterG';
	src:          url('assets/fonts/NorwesterG-Regular.otf') format('opentype');
	font-weight:  400;
	font-style:   normal;
	font-display: swap;
}